:root {
    --ffamily01: "Darumadrop One", sans-serif;

    /* Color Theme Swatches in Hex */
    --marron: #997571;
    --rojo: #E66557;
    --amarillo: #E6CD93;
    --verde-oscuro: #739953;
    --verde-claro: #B3E687;
    --azul: #87CAE6;
}

body {
    background-color: black;
    box-sizing: border-box;
    margin: 0;
}

.container {
    background-color: var(--verde-oscuro);
    width: 30rem;
    max-width: 100svw;
    /* height: 90svh; */
    height: 100svh;
    margin: auto;
    /* margin-top: 5svh; */
    border-radius: 1rem;
}









#new-user{
    height: 100%;
}

.new-user-container {
    /* background-color: rebeccapurple; */
    height: 99%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5%;
}

.new-user-container *{
    font-family: var(--ffamily01);
}

.introduccion{
    /* background-color: white; */
    background-color: rgba(225, 225, 225, 0.5);
    padding: 0.8rem;
    width: 60%;
    text-align: center;
    border: 3px dashed black;
}

.user-inputs {
    background-color: var(--amarillo);
    border: none;
    padding: 1rem;
    border-radius: 1rem;
}

.user-btns {
    background-color: var(--azul);
    border: none;
    padding: 0.7rem;
    border-radius: 0.5rem 1.5rem 1.5rem;
    font-family: var(--ffamily01);
}

.inputs-spans span{
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    gap: 1rem;
}

.login-create-switch-btn {
    background-color: var(--rojo);
    border: none;
    padding: 1.3rem;
    border-radius: 1.5rem 1.5rem 0.5rem;
}












#main-rooms{
    /* background-color: blue; */
    height: 90%;
    font-family: var(--ffamily01);
}

.option-btns-div {
    /* background-color: yellow; */
    padding: 1rem;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
}

#room-options {
    /* background-color: red; */
    height: 90%;

    display: flex;
    flex-wrap: wrap;
    /* flex-direction: column; */
    /* align-items: center; */
    justify-content: center;
    gap: 1rem;
}

#room-options:first-child {
    border-top: 1rem solid transparent;
}

.rooms-list {
    /* background-color: red; */
    height: 100%;
    width: 95%;
    list-style: none;

        /* esto podria dar problemas */
    margin-left: -2rem;
    /* margin-top: -0.5rem; */
    
    overflow-y: scroll;
    scrollbar-color: transparent transparent;
}

.room:last-child{
    /* background-color: red; */
    margin-bottom: 5rem;
}

.room {
    background-color: var(--amarillo);
    /* width: calc(90% - 2rem); */
    width: 87%;
    padding-left: 1.5rem;
    padding-right: 1rem;
    padding-top: 0.1rem;
    padding-bottom: 0.5rem;
    /* padding-bottom: 3rem; */
    margin-bottom: 1rem;
    border-radius: 1rem;
    /* text-align: center; */
}

.delete-room-btn {
    background-color: var(--rojo);
    float: right;
    position: relative;
    top: -3rem;
}

#create-room, #join-room {
    /* background-color: red; */
    height: 80%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

#create-room input, #join-room input {
    font-family: var(--ffamily01);
}












#main {
    display: none;
}

.title {
    /* background-color: red; */
    padding-top: 1rem;
    height: 4rem;
    font-family: var(--ffamily01);
    text-align: center;
    font-size: 2.5rem;
}











.input-span {
    /* background-color: red; */
    width: 100%;
    /* height: 6rem; */
    height: fit-content;

    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    /* gap: 2rem; */
    flex-wrap: wrap;
}

.input-task {
    background-color: var(--amarillo);
    border: none;
    width: 65%;
    padding: 1rem;
    border-radius: 2rem 0 0 2rem;
    border-left: 0.3rem solid var(--verde-oscuro);
    
    font-family: var(--ffamily01);
    font-size: 1rem;

    margin-left: 1rem;
}

input:focus {
    outline: none;
}

.add-task {
    background-color: var(--azul);
    border: none;
    padding: 1rem;
    width: 6rem;
    /* width: 3rem;
    height: 3rem; */
    border-radius: 2rem;
    border: 0.3rem solid var(--verde-oscuro);

    position: relative;
    /* right: 1rem; */
    left: -2rem;
    /* left: -77%; */
    margin-right: -1rem;

    font-family: var(--ffamily01);
    font-size: 1rem;
}

@keyframes add-task-anim {
    50%{
        width: 90%;
    }
}

@keyframes add-task-anim-input {
    50%{
        width: 0;
        padding: 0;
    }
}

.input-task-information{
    background-color: var(--amarillo);
    border: none;
    width: 50%;
    height: 20%;
    font-family: var(--ffamily01);
    border-radius: 0 0 1rem 1rem;
    margin-right: 4rem;
    padding-inline: 0.5rem;
}

.input-task-information:focus{
    outline: none;
    height: 5rem;
    width: 75%;
    margin-right: 0;
}

@keyframes add-task-anim-input-information {
    20%{
        color: transparent;
        background-color: transparent;
    }
    50%{
        transform: translate(0, -100%);
    }
    80%{
        color: transparent;
        background-color: transparent;
    }
}















.tasks-div {
    /* background-color: red; */
    /* background-color: var(--amarillo); */
    border-radius: 1rem;
    width: 100%;
    height: fit-content;
    max-height: calc(100svh - 12rem);
    margin: auto;

    overflow-x: hidden;
    overflow-y: scroll;
    scrollbar-width: thin;
    /* scrollbar-color: var(--verde-oscuro) transparent; */
    scrollbar-color: transparent transparent;
}

.task {
    /* background-color: red; */
    background-color: var(--amarillo);
    margin-left: -1.8rem;
    width: 100%;
    border-radius: 1rem;
    padding: 0.5rem;
    
    list-style: none;
    /* margin-top: 1rem; */
    margin-bottom: 1rem;
    float: left;
    
    display: grid;
    grid-template-columns: 2.2rem 1fr 2rem;
    grid-template-rows: 1fr 3rem fit-content;
    /* grid-template-rows: 1rem; */

    overflow-y: hidden;
    /* overflow-x: scroll; */
    overflow-x: hidden;
    scrollbar-width: thin;
    scrollbar-color: var(--verde-oscuro) transparent;
}

.task-check-btn {
    background-color: var(--amarillo);
    width: 1.7rem;
    height: 1.7rem;
    border: 3px solid var(--verde-claro);
    border: 3px solid black;
    border-radius: 0.4rem;
    margin: auto 0;
}

.task-check-btn-checked {
    background-color: var(--verde-claro);
}

.task-p {
    font-family: var(--ffamily01);
    font-weight: 900;
    /* font-size: 2svh; */
    font-size: 1.1rem;
    margin-left: 0.3rem;
}

.task-delete-btn {
    background-color: var(--rojo);
    width: 2rem;
    height: 2rem;
    border-radius: 1.5rem;
    border: none;
    margin: auto 0;
    font-weight: 900;
    font-family: var(--ffamily01);
}

@keyframes new-task-anim {
    0%{
        color: transparent;
        border-color: transparent;
        background-color: transparent;
    }
}










.yo-btn {
    margin: auto;
    width: fit-content;
    grid-row: 2/3;
    grid-column: 2/3;

    border: none;
    padding: 0.5rem;
    font-family: var(--ffamily01);
    font-size: 1rem;
    border-radius: 0.5rem;
    background-color: var(--marron);
}

.more-btns {
    display: none;
    width: 100%;
    grid-row: 3/4;
    grid-column: 1/4;
    margin: 1rem auto 0;

    /* display: flex; */
    justify-content: space-around;
}

.more-btns *{
    border: none;
    padding: 0.5rem;
    font-family: var(--ffamily01);
    font-size: 1rem;
    border-radius: 0.5rem;

    /* margin-inline: 0.5rem; */
}

.terminado-btn {
    background-color: var(--verde-claro);
}

.abandonar-btn {
    background-color: var(--rojo);
}










.bottom-btns-div {
    /* background-color: red; */
    width: 29rem;
    max-width: calc(100svw - 1rem);
    margin-top: 0.5rem;

    position: absolute;
    bottom: 1rem;

    display: flex;
    flex-direction: row-reverse;
    gap: 0.5rem;
}

.logout-btn, 
.inroom-back-btn,
.reload-btn {
    background-color: var(--azul);
    padding: 1rem;
    border: none;
    border-radius: 2rem;
    font-family: var(--ffamily01);
    font-size: 1rem;
}

.reload-btn {
    border-radius: 2rem 2rem 1rem 2rem;
}

@keyframes reload-btn-anim {
    5%{
        scale: 1.2;
        border-radius: 1rem;
    }
}